---
const now = new Date();
const year = now.getFullYear();
const month = (now.getMonth() + 1).toString().padStart(2, "0");
const day = now.getDate().toString().padStart(2, "0");
const dateString = `${year}-${month}-${day}`;
---

<form id="create-user">
  <label>
    Nombre:
    <input
      required
      id="name"
      type="text"
      placeholder="Escribe tu nombre"
      name="name"
      value=""
    />
  </label>

  <div>
    <label for="gender">Sexo:</label>
    <select required name="gender" id="gender">
      <option value="" disabled selected>-- Seleccione --</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
    </select>
  </div>

  <div>
    <label for="birthDate">Fecha de nacimiento:</label>
    <input
      required
      id="birthDate"
      type="date"
      name="birthDate"
      max={dateString}
    />
  </div>

  <button type="submit">Crear</button>
</form>

<script>
  import { routes } from "@/config/routes";

  const form = document.getElementById("create-user");

  form?.addEventListener("submit", (event) => {
    event.preventDefault();

    const name = (
      document.getElementById("name") as HTMLInputElement
    ).value.trim();
    const gender = (document.getElementById("gender") as HTMLSelectElement)
      .value;
    const birthDate = (document.getElementById("birthDate") as HTMLInputElement)
      .value;

    const newUser = {
      name,
      gender,
      birthdate: birthDate,
    };

    fetch(routes.users, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(newUser),
    })
      .then(async (response) => {
        const data = await response.json();

        if (!response.ok) {
          console.error("Error en creación de usuario:", data);
          throw new Error("Error al crear el usuario");
        }
      })
      .then((data) => {
        console.log("Usuario creado:", data);
        alert("Usuario creado con éxito");
        location.reload();
      })
      .catch((error) => {
        location.reload();
        alert("No se pudo crear el usuario");
      });
  });
</script>
