---

---

<section>
  <table id="users-table">
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Sexo</td>
        <td>Fecha de nacimiento</td>
        <td>Acciones</td>
      </tr>
    </thead>

    <tbody> </tbody>
  </table>
</section>

<script>
  import { routes } from "@/config/routes";
  import { type UserGetAll, type User } from "@models/User";

  const table = document.querySelector("table#users-table tbody");

  const loadData = () => {
    fetch(routes.users)
      .then((response) => response.json())
      .then((json) => {
        console.log(json);
        const users: UserGetAll = json;

        if (users.data) AddElements(users.data);
      });
  };

  const deleteData = (id: number) => {
    fetch(`${routes.users}/${id}`, {
      method: "DELETE",
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Error al eliminar el recurso");
        }
        return response.json();
      })
      .then((json) => {
        console.log(json);
        location.reload();
      });
  };

  document.addEventListener("DOMContentLoaded", loadData);

  function AddElements(users: User[]): void {
    if (!users || users.length === 0) {
      const noDataRow = document.createElement("tr");
      const noDataCell = document.createElement("td");
      noDataCell.colSpan = 4;
      noDataCell.textContent = "No existe usuarios creados";
      noDataCell.style.textAlign = "center";
      noDataRow.appendChild(noDataCell);
      table?.appendChild(noDataRow);
      return;
    }

    const rows: HTMLTableRowElement[] = users.map((user) => {
      const newRow = document.createElement("tr");

      const name = document.createElement("td");
      name.textContent = user.name;
      newRow.appendChild(name);

      const gender = document.createElement("td");
      gender.textContent = user.gender;
      newRow.appendChild(gender);

      const birthday = document.createElement("td");
      birthday.textContent = user.birthdate;
      newRow.appendChild(birthday);

      const actionButtons = document.createElement("td");

      const updateButton = document.createElement("button");
      updateButton.textContent = "Modificar";

      const deleteButton = document.createElement("button");
      deleteButton.textContent = "Eliminar";

      deleteButton.addEventListener("click", () => {
        if (confirm(`¿Seguro que quieres eliminar a ${user.name}?`)) {
          deleteData(user.id);
        }
      });

      actionButtons.appendChild(updateButton);
      actionButtons.appendChild(deleteButton);

      newRow.appendChild(actionButtons);

      return newRow;
    });

    rows.forEach((row) => table?.appendChild(row));
  }

  function clearTable() {
    if (!table) {
      return;
    }

    table.innerHTML = "";
  }
</script>
